{% extends 'registration/base.html' %}
{% block title %}
  <title>login</title>
{% endblock %}
{% block body %}
  <div class="registration-wrapper login">
    <div class="registration-main login-main">
      LOGIN
      <div class="form">
        <form class="registration-form login" method="post">
          <h1 class="registration-title">LOG IN</h1>
          <div class="input-form">
            <label for="email">メールアドレス:</label>
            <input type="text" placeholder="Email" name="email" />
          </div>
          <div class="input-form">
            <label for="email">パスワード:</label>
            <input type="password" placeholder="Password" name="password" />
          </div>
          <button class="green">LOG IN</button>
          {#
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class="flashes">
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          #}
          <a class="switch-register-mode" href="{{ url_for('signup') }}">
            Not registered yet?
          </a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
