/*
color定義
hover: #0680a9;
それ以外: #01B4EE;
*/
.tagpage {
  display: flex;
  flex-direction: column;
}

.tag-bg-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/tags.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
}

.tag-bg-img::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 1;
}

.tag-title {
  display: flex;
  gap: 24px;
}

.tag-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  row-gap: 0.5em;
  align-items: center;
  justify-content: space-around;
}

.tag-box li {
  background-color: #C4D8A0;
  min-height: 50%;
  list-style: none;
  width: calc(50% - 52px);
  margin: 5px 10px;
  padding: 5px 16px 5px 16px;
  border-radius: 50px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.tag-box li:hover {
  color: #4e5b66;
  border-bottom: 1px solid lightgray;
  padding-bottom: 2px;
  cursor: pointer;
}

.tag-box li a:hover {
  color: #4e5b66;
}