{% extends 'base.html' %}
{% block title %}
  <title>tags</title>
{% endblock %}
{% block body %}
<div class="main-container tagpage">
  <div class="tag-bg-img"></div>
  <div class="main-content">
    <div class="tag-title">
      <h1>タグ一覧</h1>
    </div>
      {# フラッシュメッセージ確認用 #}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    <ul class="tag-box">
      {% for tag in tags %}
      <li>
        <a href="{{ url_for('tag_channel', tid=tag.id) }}">{{ tag.name }}</a>
        <span>({{ tag.count }})</span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{% block script %}
  <script type="text/javascript">
    const tags = JSON.parse('{{ tags|tojson }}');
  </script>
{% endblock %}