<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>test index</title>
  </head>
  <body>
    <p>動作確認です</p>
    <!-- チャンネル作成機能確認用フォーム -->
    <form action="/" method="POST">
        <label for="channel-title">チャンネル名:</label>
        <input type="text" name="channel-title" placeholder="チャンネル名"><br>
        <label for="channel-description">チャンネル概要:</label>
        <input type="text" name="channel-description" placeholder="チャンネル概要"><br>
        <input type="submit" value="作成">
    </form>
    <!-- チャンネル一覧表示確認用 -->
    <ul>
    {% for channel in channels %}
      <li>
        <a href="{{ url_for('detail', cid=channel.id)}}">{{ channel.name }}</a>
      </li>
    {% endfor %}
    </ul>
    <!-- サインアップ画面リンク -->
    <a href="{{ url_for('signup')}}">サインアップ画面へ</a>

    <!-- ログアウト -->
    <a href="{{ url_for('logout')}}">ログアウト</a>
  </body>
</html>
